
@{
    ViewBag.Title = "Calendario de un Alumno";
}

<h2>Calendario de un Alumno</h2>

<div class="row">
    <div id="calendar">

    </div>
</div>
@section Scripts{
    <script type="text/javascript">
         document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['dayGrid'],
                    locale: 'es',
                    header: {
                      left:   'title',
                      center: '',
                      right:  'today prev,next'
                    },
                    events: '/Alumno/getEventosAlumno'
                });
                 calendar.render();
            });
        
    </script>
}
