@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Sucursal>

@{
    ViewBag.Title = "Inscribir a Actividad";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <select class="form-control" name="idSucursal" id="sucursal_select" required="required" onChange="dameHorariosDeSucursal(this)">
                <option value="" selected disabled>Seleccione una sucursal...</option>
                @foreach (var sucursal in Model)
                {
                    <option value="@sucursal.NroSucursal">@sucursal.Barrio</option>
                }
            </select>
        </div>
    </div>
</div>

<div id="horarios">

</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Estado Inscripción</h3>
            </div>
            <h4 class="modal-body" id="cuerpo_modal"></h4>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function dameHorariosDeSucursal(selectObject) {
            console.log("Sucursal con ID seleccionada: " + selectObject.value);
            $.ajax({
                url: '/Alumno/DamePartialHorario',
                data: {
                    "idSucursal": selectObject.value
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#horarios').empty()
                    $('#horarios').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

    function inscribir(idHorario, fechaActividad) {
        console.log(fechaActividad)
            var idSucursal = $("#sucursal_select").val();

            $.ajax({
                url: '/Alumno/Inscribir',
                data: {
                    'idSucursal': idSucursal,
                    'idHorario': idHorario,
                    'fechaActividad': fechaActividad
                },
                type: 'post',
                success: function (result) {
                    $('#cuerpo_modal').empty()
                    $('#cuerpo_modal').append('<p>' + result + '</p>')
                    $('.modal').modal('show')
                },
                fail: function () {
                    console.log("Error en la inscripción.")
                }
            })
        }
    </script>
}