@{
    ViewBag.Title = "Inscribir a Actividad";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="container">
    <div class="row">
        <div id="sucursales">

        </div>

        <div id="horarios">

        </div>

        <div>
            <input type="button" class="btn btn-success" value="Inscribir" onclick="inscribir()" />
            <input type="button" class="btn btn-danger" value="Cancelar" onclick="location.href='@Url.Action("CalendarioActividades", "Alumno")'" />
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Alumno/DamePartialSucursal',
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#sucursales').empty()
                    $('#sucursales').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        });

        function dameHorariosDeSucursal(selectObject) {
            console.log("Sucursal con ID seleccionada: " + selectObject.value);
            $.ajax({
                url: '/Alumno/DamePartialHorario',
                data: {
                    "idSucursal": selectObject.value
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#horarios').empty()
                    $('#horarios').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function inscribir() {
            // ID SUCURSAL
            var idSucursal = $("#sucursal_select").val();
            // ID HORARIO
            var idHorario = $("#horario_select").val();
            console.log(idSucursal, idHorario);
        }
    </script>
}