@model IEnumerable<GymProject.Models.Clases.Alumno>

@{
    ViewBag.Title = "Listar Alumnos";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    <form action="/" method="post">
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" type="text" name="email" value="" id="inputBuscar" placeholder="Ingrese E-Mail" />
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="btnBuscar">Buscar Alumnos</button>
    </form>
</div>

<div id="resultados">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#btnBuscar').on('click', function () {
            var email = document.getElementById('inputBuscar').value
            ListarAlumnos(email);
        });

        function ListarAlumnos(email) {
            $.ajax({
                url: '/Alumno/BuscarAlumnosAjax',
                data: { 'email': email },
                type: 'post',
                success: function (result) {
                    //DEVUELVE UN PARTIAL VIEW
                    $('#resultados').empty()
                    $('#resultados').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }
    </script>
}