@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Sucursal>

<div class="col-md-10">
    <select class="form-control" name="idSucursal" id="sucursal_select" required="required" onChange="dameHorarioDeSucursal(this)">
        @foreach (var sucursal in Model)
        {
            <option value="@sucursal.NroSucursal">@sucursal.Barrio</option>
        }
    </select>
</div>