@model GymProjectWithGoogleAuth.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Haga clic en la imágen para iniciar sesión con su cuenta de Google.</h4>
<hr />

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <center><button type="submit" style="padding: 0px; border: 0px" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><img src="~/Content/Images/Login.jpg" width="900" /></button></center>
                }
            </p>
        </div>
    }
}