@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Actividad>

    <div class="form-group col-md-10" style="width:220px">
        <select class="form-control" name="idActividad" id="actividad_select" required="required" onChange="dameDiasDeProfesor()">
            <option value="" selected disabled>Actividad</option>
            @foreach (var actividad in Model)
            {
                <option value="@actividad.IdActividad">@actividad.Nombre</option>
            }
        </select>
    </div>