@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Horario>


<div class="form-group col-md-10" style="width:220px">
    <select class="form-control" name="dia" id="dia_select" required="required" onChange="dameHorariosDeProfesor()">
        <option value="" selected disabled>Dia</option>
        @foreach (var dia in Model)
        {
            <option value="@dia.Dia">@dia.Dia</option>
        }
    </select>
</div>

