<div class="form-group col-md-10" style="width:228px">
    <select class="form-control" name="fecha" id="fecha_select" required="required" onChange="dameAlumnosDeProfesor()">
        <option value="" selected disabled>Seleccione fecha...</option>
        @foreach (var fecha in ViewBag.fechas)
        {
            <option value="@fecha">@fecha</option>
        }
    </select>
</div>