<div class="form-group col-md-10" style="width:220px">
    <select class="form-control" name="idFecha" id="fecha_select" required="required" onChange="dameAlumnosDeProfesor()">
        <option value="" selected disabled>Fecha</option>
        @foreach (var fecha in ViewBag.fechas)
        {
            <option value="@fecha">@fecha</option>
        }
    </select>
</div>
