@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Sucursal>

@{
    ViewBag.Title = "Tomar Asistencia";
}

<h2>@ViewBag.Title</h2>
<hr />

<table>
    <tr>
        <td>
            <div class="form-group col-md-10" style="width:228px">
                <select class="form-control" name="idSucursal" id="sucursal_select" required="required" onChange="dameActividadesDeProfesor()">
                    <option value="" selected disabled>Seleccione sucursal...</option>
                    @foreach (var sucursal in Model)
                    {
                        <option value="@sucursal.NroSucursal">@sucursal.Barrio</option>
                    }
                </select>
            </div>
        </td>
        <td>
            <div id="actividades">

            </div>
        </td>
        <td>
            <div id="dias">

            </div>
        </td>
        <td>
            <div id="horarios">

            </div>
        </td>
        <td>
            <div id="fechas">

            </div>
        </td>
    </tr>
</table>

<div id="alumnos">

</div>

@section Scripts{
    <script type="text/javascript">
        function dameActividadesDeProfesor() {
            var idSucursal = $("#sucursal_select").val();

            $.ajax({
                url: '/Profesor/DamePartialActividades',
                data: {
                    "idSucursal": idSucursal
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#actividades').empty()
                    $('#actividades').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function dameDiasDeProfesor() {
            var idSucursal = $("#sucursal_select").val();
            var idActividad = $("#actividad_select").val();

            $.ajax({
                url: '/Profesor/DamePartialDias',
                data: {
                    "idSucursal": idSucursal,
                    "idActividad": idActividad
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#dias').empty()
                    $('#dias').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function dameHorariosDeProfesor() {
            var idSucursal = $("#sucursal_select").val();
            var idActividad = $("#actividad_select").val();
            var dia = $("#dia_select").val();

            $.ajax({
                url: '/Profesor/DamePartialHorarios',
                data: {
                    "idSucursal": idSucursal,
                    "idActividad": idActividad,
                    "dia": dia
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#horarios').empty()
                    $('#horarios').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function dameFechasDeProfesor() {
            var idHorario = $("#horario_select").val();

            $.ajax({
                url: '/Profesor/DamePartialFechas',
                data: {
                    "idHorario": idHorario
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#fechas').empty()
                    $('#fechas').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function dameAlumnosDeProfesor() {
            var idHorario = $("#horario_select").val();
            var fechaActividad = $("#fecha_select").val();

            $.ajax({
                url: '/Profesor/DamePartialAlumnos',
                data: {
                    "idHorario": idHorario,
                    "fechaActividad": fechaActividad
                },
                type: 'get',
                success: function (result) {
                    // DEVUELVE UN PARTIAL VIEW
                    $('#alumnos').empty()
                    $('#alumnos').append(result)
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }

        function tomarAsistencia(idAlumno, estado) {
            var idHorario = $("#horario_select").val();
            var fechaActividad = $("#fecha_select").val();

            $.ajax({
                url: '/Profesor/DarElPresente',
                data: {
                    "idAlumno": idAlumno,
                    "idHorario": idHorario,
                    "fechaActividad": fechaActividad,
                    "estado": estado
                },
                type: 'get',
                success: function () {
                    dameAlumnosDeProfesor();
                },
                fail: function (result) {
                    console.log(result)
                }
            })
        }
    </script>
}