@using Microsoft.AspNet.Identity
@using GymProjectWithGoogleAuth.Models.BaseDeDatos;
@using GymProjectWithGoogleAuth.Models.Clases;

@if (Request.IsAuthenticated)
{
    Database db = new Database();
    Persona persona = db.GetPersonaPorEmail(User.Identity.GetUserName());
    ViewBag.nombre = persona.Nombre;
    ViewBag.apellido = persona.Apellido;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="color: #9d9d9d" onMouseout="style.color='#9d9d9d'" onMouseover="style.color='white'">
                <a>¡Bienvenido @ViewBag.nombre @ViewBag.apellido!</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}